body {
	background-image: url("../../Images/homePageBackground.jpg");
	max-width: 100%;
    background-color:#bebdc7;
	background-repeat:no-repeat;
	background-size:cover;
	color: rgba(62, 60, 67, .5);
}

.box {
	background-color: rgba(62,60, 67, .5);
	position:relative;
	top:40px;
	right:60px;
	padding-top: 200px;
	padding-right:160px;
	padding-bottom:200px;
	padding-left:160px;
	border-radius: 12px;
}

.searchbutton:hover {
	cursor: pointer;
	transform: scale(1.1);
}
