body {
	background-image: url("../../Images/homePageBackground.jpg");
	position:relative;
	max-width: 100%;
    height: auto;
    background-color:#bebdc7;
	background-repeat:no-repeat;
	background-position: right;
	background-size:cover;
}

.box {
	background-color:  rgba(62,60, 67, .5);
	position:relative;
	right:60px;
	margin-top: 40px;
	padding-top:48px;
	padding-right:170px;
	padding-bottom:200px;
	padding-left:150px;
	
}

.results {
	background-color:  rgba(62,60, 67, .5);
	color: white;
	position:relative;
	right:60px;
	margin-top: 40px;
	padding-top:48px;
	padding-right:50px;
	padding-bottom:200px;
	padding-left:40px;
}

.table {

	margin-right:2px;
	margin-left:2px;

}

tbody tr:hover {
	color:red;
}

h3{

	text-align: center;
}

button,
.saved-cities-button {
	margin-top: 40px;
}

.saved-cities-button {

	color: black;
	background-color: gray;
	margin-top: 682px;
	margin-left: -950px;
	padding-bottom:30px;
	padding-top: 30px;
	padding-right: 30px;
	padding-left: 30px;
	font-weight: bold;
	font-size: 20px;
	border-radius: 12px;
}

.saved-cities-button:hover {
	cursor: pointer;
	transform: scale(1.2);
}

button:hover {
	cursor: pointer;
	transform: scale(1.2);
}